<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/client.css">

    <title>Document</title>
</head>
<body>

<div class="formbold-main-wrapper">

    <div class="formbold-form-wrapper">
        <form action="/adminDash/calendar" method="POST" id="diaryForm">
            <h1> New Diary Entry </h1>
            <div class="formbold-mb-5">
                <label for="name" class="formbold-form-label"> Title: </label>
                <input
                        type="text" name="dname" id="dname" placeholder="Name" class="formbold-form-input" autocomplete="off" required/>
            </div>

            <div class="flex flex-wrap formbold--mx-3">
                <div class="formbold-mb-5">
                    <label for="name" class="formbold-form-label"> Description: </label>
                    <input
                            type="text" name="describe" id="describe"  class="formbold-form-input" autocomplete="off" required/>
                </div>
                <div class="w-full sm:w-half formbold-px-3">
                    <div class="formbold-mb-5">
                        <label for="time" class="formbold-form-label"> Date: </label>
                        <input type="date" name="dDate" id="dDate" class="formbold-form-input" autocomplete="off" required/>
                    </div>
                </div>
                <div class="w-full sm:w-half formbold-px-3">
                    <div class="formbold-mb-5">
                        <label for="time" class="formbold-form-label">Type:  </label>
                        <input type="text" name="dType" id="dType" placeholder=" holiday/work/event" class="formbold-form-input" autocomplete="off" required/>
                    </div>
                </div>
                <div class="w-full sm:w-half formbold-px-3">
                    <input type="hidden" name="formType" value="diary">
                </div>
            </div>
            <div>
                <button class="formbold-btn" type="submit">Finish</button>
            </div>
        </form>
    </div>
</div>


</body>
</html>