<link data-asynced="1" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<% if (error) { %>
    <% error.forEach(function(msg) { %>
        <div class="alert alert-danger alert-dismissible fade show">
            <%= msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% }); %>
<% } %>
<% if (success) { %>
    <% success.forEach(function(msg) { %>
        <div class="alert alert-success alert-dismissible fade show">
            <%= msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% }); %>
<% } %>