<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>ADMIN</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css"/

    <!-- site icon -->
    <link rel="icon" href="images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <!-- site css -->
    <link rel="stylesheet" href="/css/adminDash.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="/css/perfect-scrollbar.css" />
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/css/calendar.css" />
    <!-- Optional Themes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/evo-calendar/1.1.12/themes/orange-coral/evo-calendar.orange-coral.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/evo-calendar/1.1.12/themes/midnight-blue/evo-calendar.midnight-blue.min.css" />

    <!-- custom css -->
    <link rel="stylesheet" href="/css/calendar.css" />
    <link rel="stylesheet" href="/css/add.css">
    <link rel="stylesheet" href="/css/deleteBtn.css">
    <link rel="stylesheet" href="/css/email.css">
    <link rel="stylesheet" href="/css/archives.css">
    <link rel="stylesheet" href="/css/uploadBtns.css">
    <link rel="stylesheet" href="/css/searchStyle.css">

    <script src=
            "https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.min.js"
            integrity=
            "sha512vDKWohFHe2vkVWXHp3tKvIxxXg0pJxeid5eo+UjdjME3DBFBn2F8yWOE0XmiFcFbXxrEOR1JriWEno5Ckpn15A=="
            crossorigin="anonymous">
    </script>
    <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>

</head>