<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar-header">
            <div class="logo_section">
                <a href="/adminDash/profile"><img class="logo_icon img-responsive" src="/images/logo/logo_icon.png" alt="#" /></a>
            </div>
        </div>
        <div class="sidebar_user_info">
            <div class="icon_setting"></div>
            <div class="user_profle_side">
                <div class="user_info">
                    <h6>Associate</h6>
                    <p><span class="online_animation"></span> Online</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>General</h4>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="/admin/adminDash" aria-expanded="false"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
            </li>
            <li><a href="/adminDash/widgets"><i class="fa fa-clock-o orange_color"></i> <span>Events</span></a></li>
            <li>
                <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span> Reports </span></a>
                <ul class="collapse list-unstyled" id="element">
                    <li><a href="/adminDash/caseReports"> <span>Case Reports</span></a></li>

                    <li><a href="/adminDash/invoice"> <span>Generate Fee Note</span></a></li>
                </ul>
            </li>
            <li><a href="/adminDash/caseFiles"><i class="fa fa-table purple_color2"></i> <span> Cases </span></a></li>
            <li>
                <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Apps</span></a>
                <ul class="collapse list-unstyled" id="apps">
                    <li><a href="/adminDash/email"> <span>Write Email</span></a></li>
                    <li><a href="/adminDash/calendar"> <span>Calendar</span></a></li>
                </ul>
            </li>
            <li>
                <a href="/adminDash/reach">
                    <i class="fa fa-paper-plane red_color"></i> <span>Contact</span></a>
            </li>
            <li class="active">
                <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Work Place</span></a>
                <ul class="collapse list-unstyled" id="additional_page">
                    <li>
                        <a href="/adminDash/projects">> <span>Projects</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/adminDash/clientele">
                    <i class="fa fa-user green_color"></i> <span>Clientele</span></a>
            </li>
            <li>
                <a href="/adminDash/archives">
                    <i class="fa fa-archive white_color"></i> <span>Archives</span></a>
            </li>
        </ul>
    </div>
</nav>